.homepage{
	.intro{
		padding-top: 7rem;
		.title{
			color: $color1;
			line-height: 1.2;
			font-size: 7rem;
			font-weight: 700;
		}
		.subtitle{
			background-color: $color6;
			color: $color2;
			font-size: 3rem;
			display: inline-block;
			padding: .3rem 1rem;
		}
	}
	.advantages{
		font-size: 1.8rem;
		font-weight: 700;
		color: $color1;
		// margin-top: 2rem;
	}
	.advantage{
		&__pic{
			width: 96px;
			font-size: 7rem;
			color: $color6;
			font-weight: normal;
		}
		&__item{
			margin-top: .1rem;
			width: 50%;
			line-height: 1.6;
			min-height: 75px;
			a{
				text-decoration: none;
				span{
					color: $color6;
					text-decoration: underline;
				}
				&:hover{
					color: currentColor;
					span{
						text-decoration: none;
					}
				};
			}
		}
	}
}