.advantages{
    background:linear-gradient(to right, #f3eb6c 3px, transparent 3px);
    background-color: #eee32d;
	background-size: 30px 100%;
	border-bottom: 10px solid $color6;
	margin-top: 7rem;
	padding: 5rem 0 0rem;
	&__cell{
		padding-left: 5rem;
		padding-right: 5px;
		padding-bottom: 4.5rem;
		text-align: left;
	}
	&__show{
		color: $color6;
		font-size: 7rem;
		line-height: 1;
		letter-spacing: 7px;
	}
	&__sign{
		color: $color1;
		font-size: 1.8rem;
		font-weight: 700;
	}
}


.inner{
	.coverage,
	.history
	{
		.title{
			font-size: 5rem;
			padding-left: 0 ;
			&:before{
				display: none;
			}
		}
	}

	#history-slider{
		display: flex;
		margin-top: 3rem;
	}
	.history{
		margin-top: 19rem;
		position: relative;
		.history-arrows{
			left: calc( 50% - 25px);
			position: absolute;
			top: 30px;
		}

		&__item{
			position: relative;
			width: 260px;
			padding-top: 35px;
			&:before,
			&:after{
				@extend .before;
				border-radius: 50%;
				z-index: 5;
				left: 5px;
				top: 3px;
			}
			
			&:after{
				$s: 16px;
				width: $s;
				height: $s;
				border: 1px solid $color6;
				border-radius: 50%;
				margin-left: -3px;
				margin-top: -3px;
			}

			&:before{
				background-color: $color6;
				height: 10px;
				width: 10px;
			}
		}
		&__year{
			color: $color6;
			font-size: 4rem;
			line-height: 1;
			font-weight: 700;
		}
		&__desc{
			font-size: 1.7rem;
			margin: 1.7rem 0 2.5rem;
			strong{
				color: $color1;
			}
		}

		&-arrows{
			.slick{
				&-arrow{
					background: url(../images/arrow-right-2.png) no-repeat left center;
					height: 21px;
					width: 41px;
					cursor: pointer;
					border: none;
					transition: .3s;
					margin: 0 10px;
					&:hover{
						background-position: 10px center
					}
				}
				&-next{

				}
				&-prev{
					transform: rotate(180deg);
					&:hover{
					}
				}
			}
		}
	}
}


// =coverage
.coverage{
	$color1: #ed1d24;
	$color2: #ed661d;
	$color3: #edab1d;
	$color4: #edd71d;
	$color5: #a2a2a2;
	padding: 11rem 0 5rem;
	.title{
		margin-bottom: 4.3rem;
	}

	&__signature{
		font-size: 1.6rem;
		color: #808080;
		margin-top: 4.8rem;
		padding-left: 2.6rem;
		.color1{
			.circle{
				background-color: $color1;
			}
		}
		.color2{
			.circle{
				background-color: $color2;
			}
		}
		.color3{
			.circle{
				background-color: $color3;
			}
		}
		.color4{
			.circle{
				background-color: $color4;
			}
		}
		.color5{
			.circle{
				background-color: $color5;
			}
		}

		.circle{
			$s: 30px;
			border-radius: 50%;
			height: $s;
			margin-right: 1.1rem;
			width: $s;
		}
	}

	.signature{
		&__item{
			display: flex;
			align-items: center;
			margin-right: 4.2rem;
			&:last-child{
				margin-right: 0;
			}
		}
	}


	&__row{
		display: flex;
		margin-bottom: 2.3rem;
	}

	&__title{
		color: #000;
		font-size: 1.6rem;
		text-transform: uppercase;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 700;
	}
	.columns{
		height: 37px;
		margin-left: 1.7rem;
		margin-right: 9.5rem;
		position: relative;
	}

	// .over{
	// 	position: absolute;
	// 	width: 100%;
	// 	z-index: 10;
	// 	height: 36px;
	// }

	.column{
		border-right: 2px solid #fff;
		position: absolute;
		bottom: 0;
		height: 100%;
		z-index: 0;
		&-color1{background-color: $color1}
		&-color2{background-color: $color2}
		&-color3{background-color: $color3}
		&-color4{background-color: $color4}
		&-color5{background-color: $color5; border-right: none}
	}
}


.dots{
	top: 11px;
	position: absolute;
	width: 100%;
	.dot{
		color: #fff;
		font-size: 1.2rem;
		position: absolute;
		z-index: 15;
	}
}