/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	background-color: $color2;
	color: $color7;	
	@include font-size(1.4);
	// flex-flow: column;
	font-display: swap;
	font-family: 'bender';
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

strong,
.bold{
	font-weight: 700;
}
em, i, 
.italic{
	font-style: normal;
}

strong em,
em strong
{
	font-weight: normal;
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   // border: 1px solid $color3;
   // border-radius: 0;
   // margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		// border-color: $color5;
		// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.btn{
	border: 2px solid;
	color: $color1;
	cursor: pointer;
	display: block;
	font-size: 1.5rem;
	font-weight: 700;
	height: 40px;
	padding-right: 27px;
	transition: .3s;
	display: flex;
	align-items: center;
	&-icon{
		padding-left: 42px;
	}	
	&:hover{
		border-color: $color6;
		background-color: $color6;
		text-decoration: none;
		color: $color2;
	}

	&-red{
		border-width: 3px;
		border-color: $color6;
		background-color: $color2;
		font-size: 1.7rem;
		height: 5rem;
		padding: 0 3rem;
	}
}

.icon{
	&-question{
		position: relative;
		&:before{
			@extend .before;

			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAAXNSR0IB2cksfwAAAG9QTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbeq9RgAAACV0Uk5TABJpscz8CXjw/xjJG+EGD+13WhEzuyLY7uSI+WbzXUQee2y0z3HQzW4AAAC5SURBVHicXZFZEoMgEAVHQXEERSOJS0zidv8zRmQRfV9NFzXU8ACORDGhSUJJHMGZlGVok7HU2ZxjEJ4bKwq8pBDalhxv4eWu2d0iMgBZGaT1Hmq4kvCwttEDG+tjIAaUNk94mROB1kB33HO6B7/InsHpd6hHUHb2xw0xtrPYuif1YOWRwNdzPXiMQfrhanSUyWD55hcsDyXFW+jx5aK/2l6YD5+uNUy+tPksbfal6YqXdUPc1sVW/AdigBC9gdtZFQAAAABJRU5ErkJggg==") no-repeat left top;
			// background: url(../images/icons/question.png) no-repeat left top;
			height: 22px;
			width: 22px;
			left: 12px;
			top: 50%;
			margin-top: -11px;
			transition: filter .3s;
		}
		&:hover{
			&:before{
				filter: invert(100);
			}
		}
	}
}


.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}


@supports (display:grid) {
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;			
	}
}




/* =header
---------------------------*/
.header{
	&__left{
		// width: 32rem;
	}

	&__menu
	{
		flex-grow: 1;
		padding-right: 160px;
	}
	&__right{
		padding-right: 50px;
	}

	.logo{
		padding-top: 4.5rem;
	}
	.navmenu{
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		font-size: 1.7rem;
		ul{
			justify-content: flex-end;
			padding-top: 6rem;
			li{
				position: relative;
				margin-left: 37px;
				padding-left: 25px;
				&:first-child{
					margin-left: 0;
				}
				&:before{
					@extend .before;
					background: $color6;
					border-radius: 50%;
					height: 10px;
					left: 2px;
					top: -15px;
					width: 10px;
				}
				a{
					white-space: nowrap;
					&:hover{
						color: currentColor;
						text-decoration: none;
					}
				}
				&.current{
					a, span{
						color: $color6;
						&::before {
							border-bottom: 2px solid $color6;
							max-width: 100%;
						}						
					}
				}
			}
		}
	}

	.btn-ask{
		margin-top: 5rem;
		width: 120px;
	}
}

.extra-toggle {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 34px;
	margin: 51px 8rem 0 4.5rem;
	padding: 0;
	position: relative;
	width: 30px;
	flex-shrink: 0;
	.icon-bar{
		background: #000;
		border-radius: 2px;
		display: block;
		height: 3px;
		margin: 7px 0;
		position: relative;
		transition: .15s margin ease-out;
		width: 100%;
		z-index: 5;
		transition: .3s background;
	}
	&:hover{
		.icon-bar{
			background: $color6;
		}
	}
}

/* =/header
---------------------------*/


/* =main
---------------------------*/
body{
	// display: flex;
	 // flex-flow: column;
}


/* =footer
---------------------------*/
.body .footer{
	padding-bottom: 3.5rem;
	.container{
		padding-left: 5px;
		padding-right: 5px;
		max-width: 1920px !important;
	}
}

.copyright{
	display: flex;
	flex-wrap: wrap;
	color: $color5;
	padding-left: 4.5rem;
	p{
		padding-right: .5rem;
		&:last-child{
			padding-right: 0;
		}
	}
}

.lang{
	font-size: 1.5rem;
	padding-right: 4rem;
	a, span{
		padding-left: 20px;		
	}

	a{
		color: $color4;
		&:hover{
			color: $color6;
			text-decoration: none;
		}
	}

	.current{
		position: relative;
		&:before{
			@extend .before;
			background: $color6;
			border-radius: 50%;
			height: 10px;
			left: 0;
			top: 5px;
			width: 10px;
		}
	}
}
/* =/footer
---------------------------*/





.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}




/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a {
	position: relative;
	text-shadow: none;
} 

.cl-effect-11 a::before {
	border-bottom: 2px solid $color6;
	color: $color6;
	content: attr(data-hover);
	left: 0;
	max-width: 0;
	overflow: hidden;
	position: absolute;
	transition: max-width 0.5s;
	will-change: auto; 
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}


.vline{
	border-left: 5px solid $color9;
	position: relative;
	&:before{
		@extend .before;
	    background:linear-gradient(to right, $color9 50%, transparent 50%);
		background-size:10px 100%;
		height: 100%;
		width: 50px;
		left: -55px;
		top: 0;
	}
}

.hline{
	position: relative;
	&:before{
		@extend .before;
	    background:linear-gradient(to bottom, $color9 50%, #fff 50%);
		background-size:100% 10px;
		height: 50px;
		width: 100%;
		top: -55px;
	}
}


.box-vline{
	background-color: $color2;
	border-left: 5px solid $color9;
	padding: 7.2rem 12rem 8rem 10rem;
	position: relative;
	&:before{
		@extend .before;
		// background:url("data:image/gif;base64,R0lGODlhMgABAIABAO7jLQAAACH5BAEAAAEALAAAAAAyAAEAAAILhB2ZhxoM3GMSygIAOw==") repeat-y;
		// width: 50px;
		// height: 100%;
		left: -55px;
		top: 0;
	}
}

.form-wrapper{
	.title{
		color: $color1;
		font-size: 4rem;
		font-weight: 700;
		margin-bottom: 1.3rem;
	}
	p{
		font-size: 1.5rem;
	}

	.form-control{
		background: none;
		border: none;
		border-bottom: 2px solid $color10;
		height: 40px;
		letter-spacing: .1em;
		width: 100%;
	}

	.textarea{
		background:url('data:image/gif;base64,R0lGODlhAQAeAIABAO0dJAAAACH5BAEAAAEALAAAAAABAB4AAAIFjI+pC1AAOw==');
		border: none;
		filter: grayscale(1) brightness(1.8);
		height: 90px;
		line-height: 30px;
		overflow: hidden;
		resize: none;
		&:active,
		&:focus{
			filter: none
		}
	}

	.form{
		padding-top: 2rem;
	}

	.btn-submit{
		margin-top: 3.2rem;
	}
}

#modal-ask{
	.modal-dialog{
		max-width: 585px;
	}
}

.close-modal,
.close-menu{
	cursor: pointer;
	background: none !important;
	border: none;
	svg{
		@include transition-param(transform)
	}
	line{
		stroke:#000;
		stroke-width:3
	}
	&:hover{
		svg{
			@include rotation(90deg)
		}
	}	
}


.close-modal{
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 99;
}



// modal menu
.modal-menu
{
	background-color: #fff;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0 0 10rem;
	position: fixed;
	top: 0;
	transform: translateY(-100%);
	transition: .5s all;
	width: 100%;
	z-index: -1;
	.inner{
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
		padding-top: 150px;
	}

	.container{
		padding: 5rem 8.3% 2rem;
		position: relative;
	}

	.close-modal{
		right: 8.3%;
	}
	.row{
		flex-wrap: nowrap;
	}
	.menu{
		border-top: 5px solid $color9;
		padding-top: 5.8rem;
		width: 100%;
		position: relative;
		&:before{
			@extend .before;
			z-index: 999;
		}
		a{
			@extend .tdu;
			color: $color1;
			font-size: 1.5rem;
			font-weight: 100;
			transition: color .3s;
			&:hover{
				color: $color6;
			}
		}

		.title,
		dt{
			color: $color1;
			font-size: 2.4rem;
			position: relative;
			margin-bottom: 25px;
			font-weight: 700;
			letter-spacing: .1em;
			a{
				font-size: inherit;
				font-weight: inherit;
				text-decoration: none;
			}
		}

		.title{
			text-transform: uppercase;
			&-mb{
				margin-bottom: 4.5rem;
			}
		}


		dd{
			margin: 4rem 0;
			position: relative;
			a{
				@extend .tdn;
				color: $color12;
				font-size: 1.8rem;
				font-weight: 700;
				text-decoration: none;
				&:hover{
					color: $color6
				}
			}
		}
	}

	.cell{
		padding-top: 0;
	}



	.btn-callback{
		border-color: $color1;
		color: $color1;
		margin-top: .8rem;
		text-align: center;
	}

	&.open{
		transform: translateY(0);
		opacity: 1;
		z-index: 9999;
	}

}


	.contacts{
		font-size: 1.5rem;
		letter-spacing: .1em;
		color: $color1;
		flex-grow: 2;
		&__inner{
			padding-left: 160px;
		}

		&__cell{
			margin-top: 2rem;
			p{
				font-size: 2.4rem;
			}
		}
		.title{
			font-size: 2rem;
			font-weight: normal;
			line-height: 1.4;
			margin-bottom: 4rem;
			position: relative;
			text-transform: none;
		}
		a.tel{
			color: $color1;
			text-decoration: none !important;
			font-size: 4rem;
		}
		a.email{
			color: $color6;
			border-bottom: 1px solid ;
			font-size: 3rem;
			text-decoration: none !important;
			&:hover{
				border-bottom: none;
			}
		}
	}

.nicescroll-cursors{
	border-radius: 0 !important;
	border: none !important;
	background: $color6 !important;
	width: 7px !important;
	left: -4px;
}
.nicescroll-rails{
	height: 100% !important;
	background: #d4d4d4;
	left: calc(100% - 14px) !important;
	width: 14px !important;
}

