::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.slider-intro{
		width: 100%;
	}

	.product__box{
		height: 440px;
	}

	
	// .no-webp .inner,
	.inner-health .o2clean-body
	{
		background-size: cover !important
	}


	.learnlist__wrapper{
		display: block !important;
	}

	.filter-item{
		.row{
			width: 100%;
		}
	}
}