::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .selectize-dropdown{
	top: 36px !important;
}


// edge
// @supports (-ms-ime-align:auto) {
// }
@supports (-ms-ime-align:auto) {
	.slide__link img {
		align-self: flex-start
	}

	.inner .main .title:before, 
	.inner .main h1:before{
		margin-top: -7px;
		top: 50%;
	}
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.slider-intro{
		width: 100%;
	}

	.product__box{
		height: 440px;
	}

	
	// .no-webp .inner,
	.inner-health .o2clean-body
	{
		background-size: cover !important
	}


	.learnlist__wrapper{
		display: block !important;
	}

	.filter-item{
		.row{
			width: 100%;
		}
	}
}