.no-webp{
	.inner-health{
		.o2clean-body{
			background: url(../images/bg/bg-2.jpg) center top no-repeat;
		}		
	}
}


.inner-health{
	.main__body{
		padding-bottom: 85px;
	}

	main{
		font-size: 2.4rem;
	}
	.o2clean-body{
		background: url(../images/bg/bg-2.webp) center top no-repeat;
		min-height: 1540px;
		color: $color1;
		padding-bottom: 8rem;
		.o2clean-text{
			&-top{
				color: $color2;
				padding-top: 18.5rem;
				.heading{
					color: $color2;
				}
			}
		}
		.heading{
			padding-bottom: 2rem;
			line-height: 1.4;
		}

		.row{
			margin-bottom: 22rem;
			&:nth-child(3){
				margin-top: 37rem;
				margin-bottom: 16rem;
			}
			&:last-child{
				margin-bottom: 5rem;
			}
		}

		ul{
			li{
				position: relative;
				padding-left: 35px;
				margin: .7rem 0;
				&:before{
					@extend .before;
					border-top: 4px solid $color6;
					left: 0;
					top: 14px;
					width: 17px;
				}
			}
		}
	}


	.bottom{
		color: $color1;
		margin-bottom: 7rem;
		p{
			font-size: 2.5rem;
			font-weight: 700;
		}
		.cell{
			display: flex;
			align-items: center;
			&:first-child{
				margin-right: -65px;
				p{
					margin-right: 4rem;
				}
			}
			&:last-child{
				p{
					margin-left: 4rem;
				}
			}
		}
	}
}