.homeslider-sm{
	display: none;
}

.homepage{
	flex-grow: 1;
	position: relative;
	&:before{
		@extend .before;
		background: url(../images/bg-vline.gif);
		
		height: 100%;
		left: 33%;
		width: 67%;
		z-index: 0;
	};
	&:after{
		@extend .before;
		background: radial-gradient(circle at 0px -250px, #bfbfbf, #f1f1f1 50%, #f6f6f6 100%);
		height: 100%;
		left: 0;
		top: 0;
		width: 33%;
	}
	.footer{
		padding-bottom: 1.5rem;
	}
	.main{
		align-items: center;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.intro{
		padding-top: 5rem;
		.title{
			color: $color1;
			font-size: 7rem;
			font-weight: 700;
			line-height: 1.2;
		}
		.subtitle{
			background-color: $color6;
			color: $color2;
			display: inline-block;
			font-size: 3rem;
			padding: .3rem 1rem;
		}
	}
	.advantages{
		font-size: 1.8rem;
		font-weight: 700;
		color: $color1;
	}
	.advantage{
		&__cifr{
			color: $color6;
			font-size: 7rem;
			line-height: 1;
			font-weight: normal;
		}
		&__pic,
		&__cifr{
			width: 96px;
		}
		&__item{
			margin-top: 3.5rem;
			width: 50%;
			line-height: 1.6;
			min-height: 70px;
			a{
				text-decoration: none;
				span{
					color: $color6;
					text-decoration: underline;
				}
				&:hover{
					color: currentColor;
					span{
						text-decoration: none;
					}
				};
			}
		}
	}

	// .counter-lastnews
	.counter-lastnews{
		width: 100%;
	}
	.counter{
		font-size: 1.5rem;
		margin-top: -15rem;
		width: 21rem;
		.cifr{
			font-size: 7rem;
			letter-spacing: .1em;
			color: $color6;
			line-height: 1;
		}
		p{
			color: $color1;
			line-height: 1;
			font-size: 1.8rem;
			font-weight: 700;
			margin-top: .7rem;
		}
	}
	// =/counter-lastnews
	.main-grid{
		position: relative;
		z-index: 2;
	}
}


.homeslider{
	margin-left: 170px;
	position: relative;
	top: -10px;
	width: 750px;
	height: 750px;
	.slick-slide{
		position: relative;
	}
	.slide{
		height: 740px;
		&__bg{
			position: absolute;
			left: 0;
			top: 0;
		}
		&__link{
			display: flex;
			background-color: $color6;
			border-radius: 50%;
			width: 617px;
			height: 618px;
			box-shadow: 40px 20px 50px rgba(255,98,40,.7);
			position: relative;
			z-index: 1;
			margin-top: 45px;
			img{
				transition: transform .5s;
				margin: auto;
			}
			&:hover{
				img{
					transform: scale(1.1);
				}
			}
		}		
	}

	.slick-active{
		.slide__link{
			img{
				animation:fadeIn .5s both .5s;
			}
		}
		.slide__bg{
			animation:fadeInRight 1s both 1s;
		}
	}
}

.slider-tabs{
	font-size: 1.3rem;
	position: absolute;
	left: -12px;
	margin-top: 105px;
	ul{
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 470px;
		justify-content: center;
		text-align: center;
		li{
			margin: 10px 0;
			text-align: center;	
			img{
				filter: grayscale(1) brightness(2);
				display: block;
				margin: 0 auto .3rem;
				transition: filter .3s;
			}	
			a{
				display: block;
				color: $color8;
				position: relative;
				&:hover{
					color: $color6;
					text-decoration: none;
					img{
						filter: none;
					}
				}
				&.active{
					color: $color6;
					img{
						filter: none;
					}
					&:before{
						@extend .before;
						background: $color6;
						border-radius: 50%;
						height: 10px;
						left: -35px;
						top: 32%;
						width: 10px;
					};
				}
			}
		}
	}
}


/* =lastnews
---------------------------*/
.lastnews{
	margin-top: -15rem;
	color: $color1;
	position: relative;
	padding-left: 5rem;
	padding-right: 9rem;
	h1{
		position: absolute;
		line-height: 1;
		font-size: 7rem;
		font-weight: normal;
		left: -170px;
		a{
			transition: color .3s;
			&:hover{
				color: $color6;
				text-decoration: none;
			}
		}
	}
}

.lastnew{
	&__item{
		align-self: flex-start;
		border-left: 2px solid $color1;
		padding-left: 3rem;
		padding-right: 2rem;
		margin-top: 1rem;
		width: 33rem;
		a{
			&:hover{
				color: $color1;
				text-decoration: none;
				.lastnew{
					&__desc
					{
						color: $color6;
						text-decoration: none;
					}
				}
			}
		}
	}
	&__pic{
		margin-right: 1.4rem;
		img{
			border-radius: 50%;
			border: 2px solid $color2;
		}
	}
	&__title{
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 1.8;
		margin-top: -.7rem;
	}
	&__desc{
		transition: color .3s;
	}
}
/* =/lastnews
---------------------------*/