.webp{  
	.inner{
		background-image: url(../images/bg/bg-inner-2.webp);
		background-position: center bottom;
		&-products{
			background-image: url(../images/bg/bg-inner-1.webp);
			background-position: center top;
		}
	}
}

.no-webp{
	.inner{
		background-image: url(../images/bg/bg-inner-2.jpg);
		background-position: center bottom;
		&-products{
			background-image: url(../images/bg/bg-inner-1.jpg);
			background-position: center top;
		}
	}
}


.bg-radial{
	background: radial-gradient(circle at center, #dedfe0 0%, #888a8d 100%);
}




.inner{
	background-repeat: no-repeat;
	&-padding{
		padding-left: 152px;
	}
	.footer{
		padding-top: 3.5rem;
	}
	.container{
		padding-left: 160px;
		padding-right: 160px;
	}
	&-products{
		background-color: $color13;
	}
	.main{
		font-size: 2rem;
		padding-top: 6rem;
	}
	.intro{
		padding-top: 2.7rem;
		padding-left: 152px;
		p{
			line-height: 1.7;
		}
	}
	.title{
		font-size: 7rem;
		font-weight: 700;
		padding-left: 149px;
		position: relative;
		color: $color1;
		&:before{
			@extend .before;
			border-top: 5px solid $color6;
			width: 118px;
			left: 0;
			top: 50%;
			margin-top: -3px;
		};

	}
}


