.newproducts{
	margin-bottom: 5rem;
	.until-date{
		color: $color16;
		margin: 2rem 0;
	}
	&__list{
		padding-top: 1rem;
	}
}


.newproduct{
	&__cell{
		background-color: $color2;
		margin: 1rem 0;
		text-align: center;
		width: 25%;
	}
	&__link{
		display: block;
		width: 290px;
		height: 390px;
		transition: box-shadow .3s;
		&:hover{
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
			text-decoration: none;
			.newproduct{
				&__title{
					color: $color6;
				}				
				&__date{
					color: $color7;
				}
				&__title{
					span{
						border-bottom-color: rgba(0,0,0,0);						
					}
				}
			}
		}
	}

	&__pic{
		align-items: center;
		display: flex;
		height: 250px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		img{
			max-width: 100%	
		}
	}

	&__title{
		color: $color1;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 2rem;
		text-transform: uppercase;
		transition: color .3s;
		span{
			border-bottom: 2px solid $color6;
			display: inline-block;
			transition: border-color .3s;
		}
	}

	&__date{
		color: $color7;
		font-size: 1.7rem;
		margin-top: 1.4rem;
	}
}


.btn-more{
	align-items: center;
	background-color: $color9;
	border: none;
	color: $color15;
	cursor: pointer;
	display: flex;
	font-size: 2.4rem;
	height: 7rem;
	justify-content: center;
	margin-top: 5rem;
	position: relative;
	text-align: center;
	transition: background-color .3s, color .3s;
	width: 100%;
	&:after{
		content: "";
		margin-left: 15px;
		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAVCAYAAACdbmSKAAAA4UlEQVQ4T+2Tyw2DMBBEbVwB55RBDTlZ0EVICXEJSToIZYA4QQmhjJypAJwZy0aEj9IASMj2ap53WWal2HjSNL0xPI5jV9d1u5TIHcj6uKmq6nFAQhyN+OuILMvyYRjos45ieG9lI611opRKyrIspDfnHdoeBj0TXEIEoihqoInxmjnEJA6E4B3Kw7mdAQwb53Lc/MKSe2HvbxTW2qeU8hLOWAu4/jqNxgIM0/DB5uQPDuD+Z552QOomYAXhg2N0qEFZSUiF8jp0lg1i2e5ZTe4c3AI2IQYJYmE2/rspQ8j0BeqentKJgB/RAAAAAElFTkSuQmCC") no-repeat;
		width: 13px;
		height: 21px;
		margin-top: 0;
		transition: filter .3s
	}

	&:hover{
		background-color: $color6;
		color: $color2;
		&:before{
			filter: brightness(5);
		}
	}
}