@media (max-width: 1870px){
	.inner-contacts .main{
		.contacts a.tel{
			font-size: 3rem;
		}
	}
}



@media (max-width: 1750px){
	.homeslider{
		margin-left: 110px;
	}

	.homepage .counter{
		margin-top: -8rem;
	}
	

	.lastnews{
		margin-top: -10rem;
		padding-left: 3rem;
		h1{
			font-size: 6rem;
			padding-top: 1rem;
		}
	}

	.newproduct__cell{
		width: 33.3%;
	}


	.substances{
		padding-left: 2rem;
		&__wrapper{
			padding: 2rem;
			width: 30rem;
		}
	}
}


@media (max-width: 1650px){
	.homepage{
		.intro{
			.title{
				font-size: 6rem;
			}
			.subtitle{
				font-size: 2.8rem;
			}	
		}

		.counter .cifr{
			font-size: 6rem;
		}

		.slide__link{
			height: 500px;
			width: 500px;
			img{
				width: 70%;
			}
		}

		.advantage{
			&__cifr{
				font-size: 5rem;
			}
		}
	}

	.homeslider{
	    height: 650px;
	    width: 580px;
	    top: 40px;
		.slide{
			height: 600px;
			width: 500px;
			&__link{
				margin-left: 20px;
			}
			&__bg{
				width: 310px;
			}
		}
	}

	.lastnew__title{
		font-size: 1.6rem;
	}


	.homepage .counter{
		margin-top: -4rem;
	}

	.lastnews{
		margin-top: -5rem;
		padding-left: 1rem;
		h1{
			font-size: 5rem;
			padding-top: 2rem;
		}
	}

	.counter-lastnews{
		margin-bottom: 3rem;
	}


	// products
	.product{
		&__link{
			min-height: 365px;
			// hover
			&:hover{
				.product{
					&__box{
						.circle-half{
							&-right{
								&:before{
									right: 35px;
								}
							}
							&-left{
								&:before{
									left: 54px;
								}
							}
						}
					}
				}
			}
		}
		&__intro{
			font-size: 1.6rem;
		}
		&__desc{
			.btn{
				font-size: 1.7rem;
				height: 50px;
				width: 135px;
			}
		}

		&__box{
			.circle-half{
				// background-size: 46px 31px;
				$s: 240px;
				height: $s;
				width: $s;
				margin-top: -$s/2;
				&-right{
					left: -132px;
					&:before{
						right: 45px;
					}
				}
				&-left{
					right: -132px;
					&:before{
						left: 44px;
					}
				}
				&:before{
					background-size: cover;
					height: 31px;
					width: 46px;
				}
			}
		}

		&__item{
			.img-center{
				img{
					max-height: 275px;
				}
			}
			&-left .product__box{
				padding-left: 165px;
			}
		}
	}


	.substances{
		padding-left: 3rem;
		&__wrapper{
			padding: 2rem;
			width: 32rem;
		}
	}
}


@media (max-width: 1520px){
	.inner .main .content{
		width: calc(100% - 280px)
	}

	.side-panel{
		padding-left: 2rem;
		padding-right: 2rem;
		width: 280px;
		.secondary-menu{
			font-size: 2rem;
			padding-left: 2rem;
			padding-right: 2rem;
			li{
				margin: 2rem 0;
			}
		}
	}
	.learnlist .heading{
		font-size: 3.5rem;
	}

	// news
	.article{
		&__title{
			font-size: 2.8rem !important;
		}
	}
}


@media (max-width: 1450px){
	.homeslider{
		height: 500px;
		width: 470px;
		.slide__link{
			box-shadow: 20px 10px 40px rgba(255,98,40,.7)
		}
	}
	.homepage{
		.intro{
			.title{
				font-size: 5rem;
			}
			.subtitle{
				font-size: 2.4rem;
			}	
		}
		.advantages{
			font-size: 1.6rem;
			padding-top: .7rem;
			padding-bottom: .7rem;
		}

		.advantage{
			&__item{
				min-height: 0;
				margin-top: 3rem;
			}
		}

		.counter{
			margin-top: 0;
			.cifr{
				font-size: 5rem;
			}
		}



		.slide{
			height: 500px;
			width: 450px;
			&__link{
				height: 400px;
				width: 400px;
				img{
					width: 70%;
				}
			}
			&__bg{
				width: 240px;
			}
		}

		.counter-lastnews{
			margin: 10rem 0 5rem;
		}
	}


	.lastnews{
		margin-top: 0;
		padding-left: 0;
		h1{
			padding-top: 1rem;
		}
	}
	.lastnew__title{
		font-size: 1.5rem;
	}

	.slider-tabs{
		margin-top: 4rem;
	}

	// newproduct
	.newproduct{
		&__cell{
			width: 50%;
		}
		&__title{
			font-size: 2.6rem;
		}
		&__link{
			margin-left: auto;
			margin-right: auto;
		}
	}


	// news
	.inner .main .content{
		width: 100%;
		padding-right: 0;
	}

	.side-panel{
		display: contents !important;
		margin-left: 4.5rem;
		width: calc(100% - 4.5rem);
	}

	// .articles-wrapper
	.main__body
	{
		.content{
			order: 1;
			width: 100%
		}
		flex-wrap: wrap;
		.side-panel{
			margin-bottom: 2.5rem;
			.secondary-menu{
				margin-bottom: 4rem;
				margin-left: 50px;
				order: 0;
				padding-top: 1rem;
				width: 100%;
				ul{
					display: flex;
					// justify-content: space-between
					justify-content: space-around
				}				
			}
			.learnlist{
				order: 2;
				&__wrapper{
					flex-direction: row !important;
				}
				.lastnew{
					&__item{
						width: 33%;
						.d-flex{
							align-items: center;							
						}
					}
				}
			}
		}

		.content{
			order: 1;
		}
	}

	.article{
		&__item{
			padding-right: 0;
		}
	}


	// contacts
	.inner-contacts .main{
		main{
			.subtitle{
				font-size: 2.8rem;
			}
			.contacts{
				&__cell{
					&:first-child{
						margin-right: 3rem;
					}
				}
			}
		}
		.form-wrapper{
			padding: 5rem;
		}
	}
}


@media (max-width: 1320px){
	.product__item-right .product__box{
		width: calc(100% - 16rem);
		padding-right: 12rem;
	}

	.inner-contacts .main main{
		.d-flex{
			display: block !important;
		}
		.subtitle{
			font-size: 2.4rem;
		}
	}
}


@media (max-width: 1280px){
	.product{
		&__item-left{
			.product{
				&__box{
					padding-left: 135px;
				}
				&__desc{
					padding-right: 0;
				}
			}
		}
		&__title{
			font-size: 3.5rem;
		}
		&__intro{
			p{
				line-height: 1.8;
			}
		}
		&__link{
			min-height: 350px;
		}
	}


	.main__body .content{
		padding-right: 0;
	}


	// health
	.inner-health{
		main{
			font-size: 2rem;
		}
		.o2clean-body .o2clean-text-top{
			padding-top: 12rem;
		}
	}
}



// @media (max-width: 1279px){
// 	.homepage{
// 		.main{
// 			overflow: hidden;
// 		}
// 	}

// 	// .product__item 
// 	.bg-radial:not(.img-center) img{
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 	}
// }


@media (max-width: 1250px){
	.inner-contacts .main{
		main{
			.subtitle{
				font-size: 2.2rem;
			}
		}
		.contacts a.tel{
			font-size: 2.8rem;
		}
	}

}

@media (max-width: 1249px){
	.homepage{
		.slider-intro,
		.counter-lastnews{
			padding-left: 68px;
			padding-right: 30px;
		}
		.intro{
			.title{
				font-size: 4.5rem;
			}
			.subtitle{
				font-size: 2.2rem;
			}	
		}

		.counter .cifr{
			font-size: 5rem;
		}
	}


	.homeslider{
	    height: 450px;
	    width: 430px;
	    top: 40px;
		.slide{
			height: 420px;
			width: 365px;
			&__link{
				margin-left: 20px;
				height: 365px;
				width: 365px;
				img{
					width: 70%;
				}
			}
			&__bg{
				top: 17px;
				width: 210px;
			}
		}
	}

	.lastnews{
		padding-right: 0;
		h1{
			position: static;
			padding-right: 3rem;
		}
	}
}


@media (max-width: 1199px){
	.lastnews h1{
		padding-top: 1rem;
	}

	.side-panel{
		font-size: 1.8rem;
	}

	.product{
		&__box{
			.circle-half{
				$s: 178px;
				height: $s;
				width: $s;
				margin-top: -$s/2;
				&-right{
					left: -96px;
					&:before{
						right: 32px;
					}
				}
				&-left{
					right: -96px;
					&:before{
						left: 32px;
					}
				}
				&:before{
					background-size: cover;
					height: 23px;
					width: 35px;
					margin-top: -11px;
				}
			}
		}

		&__link{
			.bg-radial:not(.img-center){
				img{
					max-width: none;
					position: absolute;
				}
			}
			&:hover{
				.product{
					&__box{
						.circle-half{
							&-right{
								&:before{
									right: 22px;
								}
							}
							&-left{
								&:before{
									left: 42px;
								}
							}
						}
					}
				}
			}
		}

		&__item{
			&-right .product__box{
				padding-left: 3.5rem;
				padding-right: 10rem;
			}
			&-left .product__box{
				padding-left: 10rem;
				padding-right: 3.5rem;
			}
		}
		&__title{
			font-size: 3.2rem;
		}
		&__intro,
		&__subtitle{
			font-size: 1.5rem;
		}
	}


	.substances{
		padding-left: 1rem;
		&__wrapper{
			width: 30rem;
			padding-top: 1rem;
		}
	}
}


@media (max-width: 1100px){
	.homepage{
		.counter{
			width: auto;
		}
		.advantages{
			font-size: 1.5rem;
		}
		.advantage{
			&__item{
				margin-right: 5%;
				width: 45%;
			}
			&__cifr, 
			&__pic{
				width: 70px;
				margin-right: 10px;
			}
		}
	}
	.lastnew__item{
		width: 25rem;
	}

	.side-panel{
		.secondary-menu{
			font-size: 1.6rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

@media (max-width: 991px){
	.homepage.header,
	.slider-intro{
		background: url(../images/bg-hline.gif);
	}

	.homepage{
		&:after,
		&:before{
			display: none;
		}
		.advantage__item{
			margin-top: 2rem;
		}

		.intro{
			padding-top: 3rem;
			.title{
				font-size: 4rem;
			}
			.subtitle{
				font-size: 2rem;
				margin-top: .4rem;
				padding-top: .8rem;
			}	
		}

		.counter{
			order: 1;
			.cifr{
				font-size: 4rem;
			}
			p{
				font-size: 1.6rem;
			}
		}

		.advantage__item{
			width: 28.3%;
		}

		.counter-lastnews{
			display: flex;
			padding-top: 5rem;
			margin-top: 0;
			background: radial-gradient(circle at 0px -150px, #bfbfbf, #fcfcfc 35%, #ffffff 100%);
			.news-counter{
				flex-direction: column;
				justify-content: flex-start !important
			}
			.news-counter,
			.homeslider-sm
			{
				width: 50%;
			}			
		}

		.advantage__item{
			margin-top: 2rem;
			margin-bottom: .8rem;
		}	
	}

	.slider__wrapper{
		display: none;
	}

	.homeslider-sm{
		display: block;
	}

	.homeslider{
	    height: auto;
	    margin-left: 20px;
	    top: -20px;
	    width: 380px;
		.slide{
			height: auto;
			width: auto;
			margin-right: 30px;
			padding-bottom: 50px;
			&__link{
				margin-left: 20px;
				height: 320px;
				width: 320px;
				box-shadow: 10px 10px 20px rgba(255,98,40,.7);
			}
			&__bg{
				width: 190px;
			}
		}

		.slick-dots{
			display: flex;
			justify-content: center;
			li{
				margin-left: 4px;
				margin-right: 4px;				
				height: 16px;
				width: 16px;
				&.slick-active{
					button{
						&:before{
							background: $color6						
						}
						&:after{
							border: 2px solid $color6;
							$s: 16px;
							width: $s;
							height: $s;
							margin-top: -$s/2;
							margin-left: -$s/2;
						}
					}
				}	
			}	
			button{
				background: none;
				border: none;
				cursor: pointer;
				font-size: 1px;

				height: 16px;
				position: relative;
				text-indent: -9999em;
				width: 16px;
				&:before,
				&:after{
					border-radius: 50%;
					content:"";
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;		
				}
				
				&:before{
					background: #a2a2a2;
					height: 6px;
					margin-left: -3px;
					margin-top: -3px;
					width: 6px;
				}
			}
		}
	}


	.lastnews{
		order: 0;
		margin-bottom: 2rem;
		h1{
			font-size: 4rem;
		}
		& > .d-flex{
			
			flex-direction: column;
			justify-content: center;
		}
	}
	.lastnew__item{
		border-left: none;
		padding-left: 0;
		margin: 2rem 0;
		width: 100%;
		a{
			align-items: center;
		}
	}

	.slider-intro{
		padding-bottom: 4rem;
	}


	// newproduct
	.newproducts__list{
		padding-left: 5px;
	}
	.newproduct{
		&__cell{
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
		&__link{
			width: 100%;
		}
		&__pic{
			width: 100%;
			img{
				max-width: 90%
			}
		}
	}

	.newproduct,
	.article,
	{
		&__title{
			font-size: 2.4rem;
		}		
	}

	.article{
		&__intro{
			font-size: 1.6rem;
		}
	}

	// materials
	.materials{
		font-size: 2rem;
	}


	.inner-health{
		.o2clean-body .row{
			margin-bottom: 12rem;
			&:nth-child(3){
				margin-top: 20rem;
			}
		}

		.bottom .cell{
			img{
				width: 235px
			}
		}
		.main{
			.text{
				.heading{
					font-size: 3.4rem;
				}
			}
		}
	}


	// contacts
	.inner-contacts .main{
		main{
			.contacts{
				padding-right: 0;
			}			
		}
		.right{
			margin-top: 3rem;
			width: calc(100% - 50px);
			margin-left: 50px;
		}
	}


	.substances{
		margin-top: 3rem;
		&__wrapper{
			width: 90%;
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					width: 33%;
				}
			}
		}
		&__pic{
			flex-shrink: 0
		}
	}
}

@media (max-width: 900px){
	.side-panel{
		.secondary-menu{
			font-size: 1.5rem;
		}
	}

	.article{
		&__pic{
			width: 220px;
		}
	}
}


@media (max-width: 850px){
	.homeslider{
		margin-left: 0;
	}

	.side-panel{
		display: none;
	}

	.product{
		&__box .circle-half{
			display: none !important;
		}
		&__item-left,
		&__item-right
		{
			.product__box{
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
		&__desc{
			padding-right: 0;
		}
	}

	.inner-health{
		.main .text .heading{
			font-size: 3rem;
		}
		.bottom{
			.cell{
				img{
					width: 180px
				}
			}
			p{
				font-size: 2rem;
			}
		}
	}
}

@media (max-width: 800px){
	.homepage .counter-lastnews{
		.homeslider-sm{
			flex-grow: 1;	
			width: auto;
		}
		.homeslider-sm{
			width: 370px;
		}
	}
}


@media (max-width: 768px){
	.article{
		&__link{
			align-items: start !important
		}
		&__pic{
			margin-right: 2rem;
			width: 180px;
		}

		&__title{
			font-size: 2.2rem !important;
		}
	}


	// product
	.products-list{
		margin-top: 3rem;
	}
	.product{
		&__link{
			min-height: 335px;
		}
		&__subtitle{
			font-size: 1.4rem;
		}
		&__intro p{
			line-height: 1.6;
		}
	}


	.substances{
		&__wrapper{
			ul{
				li{
					width: 50%;
				}
			}
		}
	}



}



@media (max-width: 767px){
	.main__body .side-panel .secondary-menu{
		display: none;
	}

	.filter-item{
		margin-bottom: 7rem;
	}
}


@media (max-width: 750px){
	.product__box{
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	#sertificats-carousel{
		margin-left: -30px;
		margin-right: -30px;
	}
}


@media (max-width: 720px){
	.homepage{
		.advantage__item{
			width: 45%;
		}
		.counter-lastnews{
			padding-top: 3rem;
			flex-direction: column;
			.news-counter {
				order: 1;
				width: 100%;
			}
			.homeslider-sm{
				order: 0;
				width: 100%;
			}
		}

		.homeslider{
			margin-left: auto;
			margin-right: auto;
		}

		.slide{
			margin-right: 0;
			margin-left: 15px;
		}

		.lastnews{
			margin-top: 4rem;
			&>.d-flex{
				flex-direction: row;
			}
		}
	}


	// news
	.articles{
		padding-left: 0;
	}

	.article{
		&__link{
			display: block !important;
			text-align: center;
		}
		&__pic{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			width: 250px;
		}
	}


	// new
	.main__body .side-panel .learnlist{
		margin-top: 0;
		.heading{
			margin-bottom: 2rem;
		}
		&__wrapper{
			display: block !important;
		}
		.lastnew{
			&__item{
				margin-top: 2rem;
				width: 100%;
			}
		}
	}
}


@media (max-width: 650px){
	.product{
		&__title{
			font-size: 3.2rem;
		}
		&__subtitle{
			font-size: 1.5rem;
		}
		&__intro{
			font-size: 1.5rem;
			p{
				line-height: 1.6;
			}
		}
		&__desc .btn{
			font-size: 1.8rem;
			height: 50px;
		}
	}

	// health

}


@media (max-width: 600px){
	.homepage{
		.slider-intro,
		{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.intro{
			.title{
				font-size: 3.5rem;
			}
			.subtitle{
				font-size: 1.8rem;
			}
		}
		
		.counter{
			display: flex;
			align-items: center;
			p{
				margin-top: 0;
			}
			.cifr{
				margin-right: 1.5rem;
			}
		}
		.counter-lastnews{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.lastnews{
		h1{
			font-size: 3.5rem;
		}
	}
	.lastnew__item{
		width: 50%;
	}


	// products
	.products-page{
		main{
			display: flex;
			flex-direction: column;
		}
		.container{
			display: contents;
			.title{
				order: 0;
				margin-left: 30px;
			}
			.products-list{
				order: 1;
			}
			.intro{
				font-size: 1.5rem;
				order: 2;
				padding-left: 2.2rem;
				padding-right: 2.2rem;
				padding-top: 3.5rem;
			}
		}
	}
	.product__link{
		min-height: 0;
	}
	.product{
		&__box{
			padding: 2rem 30px !important;
			width: 60% !important;
			flex-basis: 60% !important;
			max-width: none;
			.circle-half{
				display: none;
			}
		}
		&__title{
			font-size: 2.2rem;
		}
		&__subtitle{
			background-color: #fff;
			color: #626262;
			font-size: 1.5rem;
			padding: 0;
		}

		&__link .bg-radial:not(.img-center) img{
			width: auto;
			max-width: none !important;
			height: 100%;
		}

	}

	.bg-radial{
		max-width: 40%;
		flex-basis: 40%;
		img{
			width: auto;
			max-width: 70% !important
		}
	}

}



@media (max-width: 576px){
	.materials{
		.row{
			margin: 5rem 0;
			text-align: center;
			.pic{
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.row-pic-right{
			&>div:first-child{
				order: 1;
			}
			&>div:last-child{
				order: 0;
			}
		}
	}


	.inner-health{
		main{
			font-size: 1.6rem;
		}
		.main__body{
			padding-bottom: 40px;
		}

		.o2clean-body{
			padding-bottom: 0;
			.o2clean-text-top{
				padding-top: 8rem;
			}
			.row{
				margin-bottom: 8rem;
				&:nth-child(3){
					margin-top: 0;
				}
			}
		}

		.bottom .cell{
			p{
				font-size: 1.5rem;
			}
			img{
				width: 100px;
			}
			&:first-child{
				margin-right: -20px;
				p{
					margin-right: 2rem;
				}
			}
			&:last-child{
				p{
					margin-left: 2rem;
				}
			}
		}
	}


	.substances{
		&__wrapper{
			ul{
				display: block;
				li{
					width: 100%;
				}
			}
		}
	}
}


@media (max-width: 540px){
	.lastnew__title{
		font-size: 1.4rem;
	}

	// newproducts	
	.newproduct{
		&__cell{
			border: 1px solid #ccc;
			width: 100%;
		}
		&__link{
			width: 290px;
		}
	}


	// article
	.article{
		&__title{
			font-size: 2rem !important !important;
		}
		&__intro{
			font-size: 1.5rem;
		}
	}
}


@media (max-width: 480px){
	.product{
		&__box{
			min-height: 200px;
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
		&__intro{
			display: none;
		}
		&__desc .btn{
			width: 109px;
			height: 40px;
			font-size: 1.5rem;
		}
	}

	.materials{
		font-size: 1.8rem;
	}
}


@media (max-width: 460px){
	.lastnew__item{
		margin: 1rem 0;
		width: 100%;
		.d-flex{
			flex-direction: row;
			align-items: center;
		}
	}

	.homeslider{
		margin-left: 0;
		width: calc(100% + 15px);
		.slick-dots{
			margin-left: -15px;
		}
	}

	.homepage{
		.lastnews {
			h1{
				margin-bottom: 1rem;
				padding-right: 0;
				text-align: center;
			}
			&>.d-flex{
				flex-direction: column;
			}
		}
		.counter-lastnews{
			margin-bottom: 3rem;
		}
		.counter{
			padding-top: 1.5rem;
			text-align: center;
			justify-content: center;
			.cifr{
				font-size: 3.5rem;
			}
		}
		.slick-list{
			padding-left: 8%;
		}
	}

	// products
	.product__link{
		min-height: 0;
	}

	.product__box{
		padding: 2rem 0;
		.circle-half{
			display: none !important;
		}
	}

	.product__item-right .product__box{
		padding-right: 30px;
		padding-left: 30px;
		width: 100%;
	}


	// contacts
	.inner-contacts .main .right{
		box-shadow: 0 0 8px #ccc;
		margin-left: 0;
		width: auto;
		.title{
			font-size: 3.5rem;
			text-align: center;
		}
		.form-wrapper{
			border-left: none;
			padding: 2rem;
		}
		.btn-submit{
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			display: block;
			text-align: center;
		}
	}
}


@media (max-width: 420px){
	.homepage{
		.advantages{
			display: block !important;
		}
		.advantage__item{
			width: 100%;
			br{
				display: none !important;
			}
		}
		.advantage__pic{
			img{
				width: 60%;			
			}

		}
		.slider-intro{
			padding-bottom: 2rem;
		}

		.slide{
			height: auto;
			width: auto;
			margin-right: 0;
			padding-bottom: 50px;
			&__link{
				margin-left: 20px;
				height: 260px;
				width: 260px;
				box-shadow: 10px 10px 20px rgba(255,98,40,.7);
			}
			&__bg{
				width: 150px;
			}
		}
		.intro .title{
			font-size: 3.2rem;
		}
		.slick-list{
			padding-left: 3%;
		}
	}


	.product{
		&__box{
			min-height: 130px;
			padding-left: 15px !important;
			padding-right: 15px !important;
			width: 65% !important;
			flex-basis: 65% !important;
			.btn{
				display: none;
			}
		}

		&__title{
			font-size: 2rem !important;
		}

	}


	.bg-radial{
		max-width: 35%;
		flex-basis: 35%;
	}


	// newproducts
	.newproducts__list{
		padding-left: 0;
		padding-right: 0;
	}
	.newproduct{
		&__cell{
			margin-left: 0;
			margin-right: 0;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		&__link{
			width: 100%;
		}
		&__pic{
			height: auto;
			min-height: 200px;
			margin: 4rem 0;
		}
	}


	// helth
	.inner-health{
		.main .text .heading{
			font-size: 2.4rem;
		}
		.o2clean-body{
			.o2clean-text-top{
				padding-right: 0;
				padding-top: 4rem;
			}
			.row{
				margin-bottom: 4rem;
				&:nth-child(3){
					margin-bottom: 4rem;
				}
			}
		}
		.bottom{
			.d-flex{
				display: block !important;
			}
			.cell{
				margin: 1.5rem 0 !important;
				flex-wrap: wrap;
				p{
					margin: 1rem 0 !important;
					font-size: 2.2rem;
					width: 100%;
					text-align: center;
				}
				img{
					width: 100%;
				}
			}
		}
	}


	.substances {
		text-align: left;
		&__wrapper{
			width: 100% ;
		}
	}

}

@media (max-width: 340px){
	.homepage{
		.slick-list{
			padding-left: 0;
		}
		.slide{
			margin-left: 0;
		}		
	}

	.lastnew{
		&__item{
			margin: 1.5rem 0;
		}
		&__title{
			font-size: 1.4rem;
			line-height: 1.5;
		}
	}

	.product{
		&__title{
			font-size: 2.6rem;
		}
	}

	// newproducts
	.btn-more{
		margin-top: 2rem;
		font-size: 2.2rem;
		height: 6rem;
	}


	.inner-contacts .main{
		.subtitle{
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
		.right{
			.title{
				font-size: 2.5rem;
				text-align: center;
			}
		}
	}


}
