@media (max-width: 1750px){
	.homeslider{
		margin-left: 110px;
	}

	.homepage .counter{
		margin-top: -8rem;
	}
	

	.lastnews{
		margin-top: -10rem;
		padding-left: 3rem;
		h1{
			font-size: 6rem;
			padding-top: 1rem;
		}
	}

	.newproduct__cell{
		width: 33.3%;
	}
}


@media (max-width: 1650px){
	.homepage{
		.intro{
			.title{
				font-size: 6rem;
			}
			.subtitle{
				font-size: 2.8rem;
			}	
		}

		.counter .cifr{
			font-size: 6rem;
		}

		.slide__link{
			height: 500px;
			width: 500px;
			img{
				width: 70%;
			}
		}

		.advantage{
			&__cifr{
				font-size: 5rem;
			}

		}
	}

	.homeslider{
	    height: 650px;
	    width: 580px;
	    top: 40px;
		.slide{
			height: 600px;
			width: 500px;
			&__link{
				margin-left: 20px;
			}
			&__bg{
				width: 310px;
			}
		}
	}

	.lastnew__title{
		font-size: 1.6rem;
	}


	.homepage .counter{
		margin-top: -4rem;
	}

	.lastnews{
		margin-top: -5rem;
		padding-left: 1rem;
		h1{
			font-size: 5rem;
			padding-top: 2rem;
		}
	}

	.counter-lastnews{
		margin-bottom: 3rem;
	}

}


@media (max-width: 1520px){
}


@media (max-width: 1450px){
	.homeslider{
		height: 500px;
		width: 470px;
		.slide__link{
			box-shadow: 20px 10px 40px rgba(255,98,40,.7)
		}
	}
	.homepage{
		.intro{
			.title{
				font-size: 5rem;
			}
			.subtitle{
				font-size: 2.4rem;
			}	
		}
		.advantages{
			font-size: 1.6rem;
			padding-top: .7rem;
			padding-bottom: .7rem;
		}

		.advantage{
			&__item{
				min-height: 0;
				margin-top: 3rem;
			}
		}

		.counter{
			margin-top: 0;
			.cifr{
				font-size: 5rem;
			}
		}



		.slide{
			height: 500px;
			width: 450px;
			&__link{
				height: 400px;
				width: 400px;
				img{
					width: 70%;
				}
			}
			&__bg{
				width: 240px;
			}
		}
	}


	.homepage .counter-lastnews{
		margin: 10rem 0 5rem;
	}


	.lastnews{
		margin-top: 0;
		padding-left: 0;
		h1{
			padding-top: 1rem;
		}
	}
	.lastnew__title{
		font-size: 1.5rem;
	}

	.slider-tabs{
		margin-top: 4rem;
	}

	// newproduct
	.newproduct{
		&__cell{
			width: 50%;
		}
		&__title{
			font-size: 2.6rem;
		}
		&__link{
			margin-left: auto;
			margin-right: auto;
		}
	}
}





@media (max-width: 1279px){
	.homepage{
		.main{
			overflow: hidden;
		}
	}

	// .product__item 
	.bg-radial:not(.img-center) img{
		position: absolute;
		left: 0;
		top: 0;
	}
}


@media (max-width: 1249px){

	.homepage{
		.slider-intro,
		.counter-lastnews{
			padding-left: 68px;
			padding-right: 30px;
		}
		.intro{
			.title{
				font-size: 4.5rem;
			}
			.subtitle{
				font-size: 2.2rem;
			}	
		}

		.counter .cifr{
			font-size: 5rem;
		}
	}


	.homeslider{
	    height: 450px;
	    width: 430px;
	    top: 40px;
		.slide{
			height: 420px;
			width: 365px;
			&__link{
				margin-left: 20px;
				height: 365px;
				width: 365px;
				img{
					width: 70%;
				}
			}
			&__bg{
				top: 17px;
				width: 210px;
			}
		}
	}



	.lastnews{
		padding-right: 0;
		h1{
			position: static;
			padding-right: 3rem;
		}
	}

}


@media (max-width: 1199px){
	.lastnews h1{
		padding-top: 1rem;
	}
}


@media (max-width: 1100px){
	.homepage{
		.counter{
			width: auto;
		}
		.advantages{
			font-size: 1.5rem;
		}
		.advantage{
			&__item{
				margin-right: 5%;
				width: 45%;
			}
			&__cifr, 
			&__pic{
				width: 70px;
				margin-right: 10px;
			}
		}
	}
	.lastnew__item{
		width: 25rem;
	}
}

@media (max-width: 991px){
	.homepage.header,
	.slider-intro{
		background: url(../images/bg-hline.gif);
	}

	.homepage{
		&:after,
		&:before{
			display: none;
		}
		.advantage__item{
			margin-top: 2rem;
		}

		.intro{
			padding-top: 3rem;
			.title{
				font-size: 4rem;
			}
			.subtitle{
				font-size: 2rem;
				margin-top: .4rem;
				padding-top: .8rem;
			}	
		}

		.counter{
			order: 1;
			.cifr{
				font-size: 4rem;
			}
			p{
				font-size: 1.6rem;
			}
		}

		.advantage__item{
			width: 28.3%;
		}

		.counter-lastnews{
			display: flex;
			padding-top: 5rem;
			margin-top: 0;
			background: radial-gradient(circle at 0px -150px, #bfbfbf, #fcfcfc 35%, #ffffff 100%);
			.news-counter{
				flex-direction: column;
				justify-content: flex-start !important
			}
			.news-counter,
			.homeslider-sm
			{
				width: 50%;
			}			
		}

		.advantage__item{
			margin-top: 2rem;
			margin-bottom: .8rem;
		}	
	}

	.slider__wrapper{
		display: none;
	}

	.homeslider-sm{
		display: block;
	}

	.homeslider{
	    height: auto;
	    margin-left: 20px;
	    top: -20px;
	    width: 380px;
		.slide{
			height: auto;
			width: auto;
			margin-right: 30px;
			padding-bottom: 50px;
			&__link{
				margin-left: 20px;
				height: 320px;
				width: 320px;
				box-shadow: 10px 10px 20px rgba(255,98,40,.7);
			}
			&__bg{
				width: 190px;
			}
		}

		.slick-dots{
			display: flex;
			justify-content: center;
			li{
				margin-left: 4px;
				margin-right: 4px;				
				height: 16px;
				width: 16px;
				&.slick-active{
					button{
						&:before{
							background: $color6						
						}
						&:after{
							border: 2px solid $color6;
							$s: 16px;
							width: $s;
							height: $s;
							margin-top: -$s/2;
							margin-left: -$s/2;
						}
					}
				}	
			}	
			button{
				background: none;
				border: none;
				cursor: pointer;
				font-size: 1px;

				height: 16px;
				position: relative;
				text-indent: -9999em;
				width: 16px;
				&:before,
				&:after{
					border-radius: 50%;
					content:"";
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;		
				}
				
				&:before{
					background: #a2a2a2;
					height: 6px;
					margin-left: -3px;
					margin-top: -3px;
					width: 6px;
				}
			}
		}
	}


	.lastnews{
		order: 0;
		margin-bottom: 2rem;
		h1{
			font-size: 4rem;
		}
		& > .d-flex{
			
			flex-direction: column;
			justify-content: center;
		}
	}
	.lastnew__item{
		border-left: none;
		padding-left: 0;
		margin: 2rem 0;
		width: 100%;
		a{
			align-items: center;
		}
	}

	.slider-intro{
		padding-bottom: 4rem;
	}

	.bg-radial{
		display: none !important;
	}



	// products
	.product{
		&__item{
			margin: 2rem 0;
			&-right .product__box{
				width: 100%;
			}
		}
		&__link{
			min-height: 30rem
		}
	}


	// newproduct
	.newproducts__list{
		padding-left: 5px;
	}
	.newproduct{
		&__cell{
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
		&__link{
			width: 100%;
		}
		&__pic{
			width: 100%;
			img{
				max-width: 90%
			}
		}
		&__title{
			font-size: 2.4rem;
		}
	}

}

@media (max-width: 850px){
	.homeslider{
		margin-left: 0;
	}
}

@media (max-width: 800px){
	.homepage .counter-lastnews{
		.homeslider-sm{
			flex-grow: 1;	
			width: auto;
		}
		.homeslider-sm{
			width: 370px;
		}
	}
}

@media (max-width: 750px){
	.product__box{
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}


@media (max-width: 720px){
	.homepage{
		.advantage__item{
			width: 45%;
		}
		.counter-lastnews{
			padding-top: 3rem;
			flex-direction: column;
			.news-counter {
				order: 1;
				width: 100%;
			}
			.homeslider-sm{
				order: 0;
				width: 100%;
			}
		}

		.homeslider{
			margin-left: auto;
			margin-right: auto;
		}

		.slide{
			margin-right: 0;
			margin-left: 15px;
		}

		.lastnews{
			margin-top: 4rem;
			&>.d-flex{
				flex-direction: row;
			}
		}
	}


}


@media (max-width: 650px){
	.product{
		&__title{
			font-size: 3.2rem;
		}
		&__subtitle{
			font-size: 1.5rem;
		}
		&__intro{
			font-size: 1.5rem;
			p{
				line-height: 1.6;
			}
		}
		&__desc .btn{
			font-size: 1.8rem;
			height: 50px;
		}
	}
}


@media (max-width: 600px){
	.homepage{
		.slider-intro,
		{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.intro{
			.title{
				font-size: 3.5rem;
			}
			.subtitle{
				font-size: 1.8rem;
			}
		}
		
		.counter{
			display: flex;
			align-items: center;
			p{
				margin-top: 0;
			}
			.cifr{
				margin-right: 1.5rem;
			}
		}
		.counter-lastnews{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.lastnews{
		h1{
			font-size: 3.5rem;
		}
	}
	.lastnew__item{
		width: 50%;
	}


	// products
	.product__link{
		min-height: 0;
	}
	.product{
		&__box{
			padding: 2rem 30px !important;
			.circle-half{
				display: none;
			}
		}
		&__title{
			font-size: 2.8rem;
		}
		&__subtitle{
			font-size: 1.5rem;
		}
	}





}



@media (max-width: 540px){
	.lastnew__title{
		font-size: 1.4rem;
	}

	// newproducts	
	.newproduct{
		&__cell{
			border: 1px solid #ccc;
			width: 100%;
		}
		&__link{
			width: 290px;
		}
	}
}


@media (max-width: 460px){
	.lastnew__item{
		margin: 1rem 0;
		width: 100%;
		.d-flex{
			flex-direction: row;
			align-items: center;
		}
	}

	.homeslider{
		margin-left: 0;
		width: calc(100% + 15px);
		.slick-dots{
			margin-left: -15px;
		}
	}

	.homepage{
		.lastnews {
			h1{
				margin-bottom: 1rem;
				padding-right: 0;
				text-align: center;
			}
			&>.d-flex{
				flex-direction: column;
			}
		}
		.counter-lastnews{
			margin-bottom: 3rem;
		}
		.counter{
			padding-top: 1.5rem;
			text-align: center;
			justify-content: center;
			.cifr{
				font-size: 3.5rem;
			}
		}
		.slick-list{
			padding-left: 8%;
		}
	}

	// products
	.product__link{
		min-height: 0;
	}

	.product__box{
		padding: 2rem 0;
		.circle-half{
			display: none !important;
		}
	}

	.product__item-right .product__box{
		padding-right: 30px;
		padding-left: 30px;
		width: 100%;
	}
}


@media (max-width: 420px){
	.homepage{
		.advantages{
			display: block !important;
		}
		.advantage__item{
			width: 100%;
			br{
				display: none !important;
			}
		}
		.advantage__pic{
			img{
				width: 60%;			
			}

		}
		.slider-intro{
			padding-bottom: 2rem;
		}

		.slide{
			height: auto;
			width: auto;
			margin-right: 0;
			padding-bottom: 50px;
			&__link{
				margin-left: 20px;
				height: 260px;
				width: 260px;
				box-shadow: 10px 10px 20px rgba(255,98,40,.7);
			}
			&__bg{
				width: 150px;
			}
		}
		.intro .title{
			font-size: 3.2rem;
		}
		.slick-list{
			padding-left: 3%;
		}
	}


	.product{
		&__box{
			padding-left: 15px !important;
			padding-right: 15px !important;
		}

		&__title{
			font-size: 3rem;
			text-align: center;
		}
		&__subtitle{
			display: block;
			font-size: 1.4rem;
			text-align: center;
		}
		&__intro{
			font-size: 1.4rem;
			text-align: justify;
			p{
				line-height: 1.5;
			}
		}

		&__desc{
			.btn{
				font-size: 1.6rem;
				height: 45px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}


	// newproducts
	.newproducts__list{
		padding-left: 0;
		padding-right: 0;
	}
	.newproduct{
		&__cell{
			margin-left: 0;
			margin-right: 0;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		&__link{
			width: 100%;
		}
		&__pic{
			height: auto;
			min-height: 200px;
			margin: 4rem 0;
		}
	}
}

@media (max-width: 340px){
	.homepage{
		.slick-list{
			padding-left: 0;
		}
		.slide{
			margin-left: 0;
		}		
	}

	.lastnew{
		&__item{
			margin: 1.5rem 0;
		}
		&__title{
			font-size: 1.4rem;
			line-height: 1.5;
		}
	}

	.product{
		&__title{
			font-size: 2.6rem;
		}
	}

	// newproducts
	.btn-more{
		margin-top: 2rem;
		font-size: 2.2rem;
		height: 6rem;
	}


}
