@media (max-width: 1800px){
	.header .navmenu ul li{
		margin-left: 28px;
		&:first-child{
			margin-left: 0;
		}
	}
}


@media (max-width: 1650px){
	.header__menu{
		padding-right: 50px;
	}

	.extra-toggle{
		margin-right: 5rem;
	}

	.inner{
		.container{
			padding-left: 4.5rem;
			padding-right: 4.5rem;
		}
		.main main{
			h1,
			.title{
				font-size: 5rem;
				padding-left: 128px;
				&:before{
					left: 0;
					width: 86px;
				}
			}

			h2{font-size: 3.5rem}
			h3{font-size: 3rem}
			h4{font-size: 2.5rem}
		}
		.intro{
			font-size: 1.8rem;
		}
	}

	.inner-padding{
		padding-left: 128px;
	}
}


@media (max-width: 1545px){
	.modal-menu .contacts .tel{
		font-size: 3rem;
	}

	.modal-menu{
		.contacts{
			flex-grow: 1;
			&__inner{
				padding-left: 0;
			}
		}
	}
}


@media (max-width: 1360px){
	// .inner{
	// 	.title{
	// 		padding-left: 98px;
	// 		&:before{
	// 			left: -30px;
	// 			width: 100px;
	// 		}
	// 	}
	// }

	// .inner-padding{
	// 	padding-left: 100px;
	// }
}


@media (max-width: 1300px){
	.modal-menu .contacts{
		.tel,
		.email
		{
			font-size: 2.8rem;
		}
	}
}


@media (max-width: 1450px){

}


@media (max-width: 1360px){
	.header{
		.navmenu{
			font-size: 1.6rem;
			ul{
				li{
					margin-left: 2rem;
				}
			}
		}
		&__menu{
			padding-right: 3.5rem;
		}
	}


	.extra-toggle{
		margin-right: 3rem;
	}



	.lastnews h1{
		left: -145px;
	}

	.lastnew__item{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}



@media (max-width: 1280px){
	.inner{
		.main{
			main{
				h1,
				.title{
					font-size: 4.5rem;
					padding-left: 78px;
					&:before{
						top: 35px;
						width: 56px;
					}
				}

			h2{font-size: 3rem}
			h3{font-size: 2.5rem}
			h4{font-size: 2rem}
			}
			.content{
				.back{
					padding-left: 25px;
					top: 60px;
				}
			}
		}
		.intro{
			font-size: 1.7rem;
			padding-top: 1rem;
		}
	}

	.inner-padding{
		padding-left: 78px;
	}
}


@media (max-width: 1270px){
	.header{
		&__right{
			padding-right: 3rem;
		}
	}
}



@media (max-width: 1250px){
	.modal-menu .contacts{
		display: none;
	}
	.footer{
		.container{
			max-width: 100%;
		}
	}

	.inner{
		.container{
			max-width: 100%;
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}

	// .inner{
	// 	.main{
	// 		font-size: 1.8rem;
	// 	}
	// 	.container{
	// 		max-width: 100%;
	// 		padding-left: 140px;
	// 		padding-right: 140px;
	// 	}
	// 	.title{
	// 		font-size: 5.5rem;
	// 		padding-left: 98px;
	// 	}
	// }
}


@media (max-width: 1249px){
	.extra-toggle{
		margin-left: 30px;
	}
}


@media (max-width: 1199px){
	.header .navmenu{
		font-size: 1.4rem;
		ul li{
			margin-left: 1rem;
		}
	}
}

@media (max-width: 1100px){
	.header{
		.d-flex{
			justify-content: space-between;
		}
		&__menu{
			padding-right: 0;
		}
		.navmenu ul{
			justify-content: center;
			li{
				padding-left: 10px;
			}
		}
	}
}

@media (max-width: 991px){
	.modal-menu .container{
		padding-left: 1%;
		padding-right: 1%;
	}

	// .inner{
	// 	.container{
	// 		padding-left: 95px;
	// 		padding-right: 80px;
	// 	}
	// 	.title{
	// 		font-size: 4rem;
	// 		&:before{
	// 			left: 10px;
	// 			width: 40px;
	// 		}
	// 	}
	// }

	.inner .main main{
		img.justifyleft{
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

}

@media (max-width: 980px){
	.extra-toggle{
		margin-top: 1.8rem;
	}
	.header{
		.logo{
			padding-top: 1.8rem;
			img{
				width: 105px;
			}
		}
		.btn-ask{
			margin-top: 1.4rem;
		}
	}
	.header__menu
	{
		display: none;
	}
}



@media (max-width: 768px){
	#modal-ask .modal-dialog{
		left: 20px;
	}

	.modal-menu .container{
		padding-left: 1%;
		padding-right: 1%;
		max-width: 95%;
	}

	.pagination{
		font-size: 1.6rem;
		a,
		.current{
			margin: 0 1rem;
		}
		.prev{
			margin-right: 1.5rem;
		}
		.next{
			margin-left: 1rem;
		}
	}


	.inner{
		.container{
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		.main{
			main{
				h1,
				.title{
					padding-left: 6rem;
					font-size: 4rem;
					&:before{
						width: 40px;
						top: 30px;
					}
				}

				h2{font-size: 2.8rem}
				h3{font-size: 2.2rem}
				h4{font-size: 1.9rem}
			}
			.content{
				.back{
					display: block;
					margin: 2rem 0;
					position: static;
				}
			}
		}
		.intro{
			font-size: 1.6rem;
		}
	}
	.inner-padding{
		padding-left: 6rem;
	}
}


@media (max-width: 720px){

}


@media (max-width: 680px){
	#modal-ask .modal-dialog{
		max-width: 85%
	}
}


@media (min-width: 651px){
	.apanel {
	    display: none!important;
	}
}

@media (max-width: 650px){
	.modal-menu {
	    display: none!important;
	}

	.inner{
		.main{
			font-size: 1.5rem;
			main{
				ol,
				ul{
					font-size: 1.5rem;
				}

				blockquote{
					font-size: 1.6rem;
				}
			}
		}
	}
}


@media (max-width: 600px){
	.header__right{
		padding-right: 2rem;
	}

	.footer{
		.copyright{
			display: block;
			font-size: 1.3rem;
			padding-left: 0;
			padding-right: 15px;
		}
		.lang{
			font-size: 1.4rem;
			padding-right: 0;
			.current:before{
				top: 4px;
			}
		}
	}

	.box-vline{
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.inner{
		.container{
			padding-left: 30px;
			padding-right: 30px;
		}
		.main{
			padding-top: 3rem;
		}
		.title{
			// padding-left: 0;
			&:before{
				// display: none;
			}
		}
		.intro{
			// padding-left: 0;
			padding-top: 1.5rem;
		}

		.footer{
			padding-left: 2.2rem;
			padding-right: 2.2rem;
		}
	}

	.inner-padding{
		padding-left: 0;
	}
}

@media (max-width: 576px){
	.modal-dialog{
		margin-left: auto;
		margin-right: auto;
		.title{
			font-size: 3.5rem;
		}
	}
	.form-wrapper p{
		font-size: 1.4rem;
	}

	.hide-col-sm{
		display: none;
	}
}


@media (max-width: 540px){
	.pagination{
		flex-wrap: wrap;
		margin-top: 1rem;
		width: 100%;
		.prev, 
		.next{
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
		.prev{
			margin-bottom: 1.5rem;
		}

		.next{
			margin-top: 1.5rem;
		}
	}
}


@media (max-width: 480px){
	.inner{
		.main{
			main{
				h1,
				.title{
					font-size: 3.5rem;
				}

				h2{font-size: 2.6rem}
				h3{font-size: 2.2rem}
				h4{font-size: 1.8rem}
			}
		}
	}
	.product{
		&__intro{
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 460px){
	.main-grid{
		display: block;
	}
	.homepage .main{
		display: block;
	}
	.footer{
		text-align: center;
		.d-flex{
			flex-direction: column;
		}
		.lang{
			order: 0;
			padding-bottom: 2rem;
		}
		.copyright{
			order: 1;
		}
	}


	// inner pages
	.inner{
		.intro{
			padding-right: 0;
			text-align: justify;
		}
		.footer{
			// padding-top: 0;
			padding-bottom: 2rem;
		}
	}


	.box-vline{
		padding: 2rem;
		&:before{
			display: none;
		}
	}
	.modal-dialog{
		.title{
			font-size: 3rem;
		}
		.input-field{
			margin-top: 2rem;
		}
		.btn-submit{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 85%;
			display: block;
		}
	}
	#modal-ask .modal-dialog{
		left: 0;
		max-width: 95%;
	}
}


@media (max-width: 440px){
	.inner{
		.main{
			main{
				h1,
				.title{
					margin-left: 0;
					font-size: 3.2rem;
					&:before{
						margin-top: 0;
						top: 20px;
					};
				}


				h2{font-size: 2.5rem}
				h3{font-size: 2.1rem}
				h4{font-size: 1.7rem}

			}
		}
	}
}

@media (max-width: 340px){
	.extra-toggle{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.header__right{
		padding-right: 1.5rem;
	}

	.inner .container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.inner{
		.main{
			main{
				text-align: justify;
				h1,
				.title{
					font-size: 3.2rem;
					padding-left: 30px;
					&:before{
						width: 17px;
					}
				}
			}

			h2{font-size: 2.4rem}
			h3{font-size: 2rem}
			h4{font-size: 1.6rem}
		}
	}
}