@media (max-width: 1800px){
	.header .navmenu ul li{
		margin-left: 28px;
		&:first-child{
			margin-left: 0;
		};
	}
}


@media (max-width: 1650px){
	.header__menu{
		padding-right: 50px;
	}

	.extra-toggle{
		margin-right: 5rem;
	}
}


@media (max-width: 1600px){
	// .navmenu-1 {
		// margin-left: 15%;
		// max-width: 100%;
		// flex-grow: 1;
	// }

	.ask-wrapper{
		// padding-right: 40px;
	}
}


@media (max-width: 1450px){

}


@media (max-width: 1360px){
	.header{
		.navmenu{
			font-size: 1.6rem;
			ul{
				li{
					margin-left: 2rem;
				}
			}
		}
		&__menu{
			padding-right: 3.5rem;
		}
	}


	.extra-toggle{
		margin-right: 3rem;
	}



	.lastnews h1{
		left: -145px;
	}

	.lastnew__item{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}


@media (max-width: 1270px){
	.header{
		&__right{
			padding-right: 3rem;
		}
	}
}


@media (max-width: 1250px){
	// .homepage{
		.footer{
			.container{
				max-width: 100%;
			}
		}
	// }
}


@media (max-width: 1249px){
	.extra-toggle{
		margin-left: 30px;
	}
}


@media (max-width: 1249px){
	.header{
		&__right{
			// padding-right: 3rem;
		}
	}
}

@media (max-width: 1199px){
	.header .navmenu{
		font-size: 1.4rem;
		ul li{
			margin-left: 1rem;
		}
	}


}

@media (max-width: 1100px){
	.header{
		.d-flex{
			justify-content: space-between;
		}
		&__menu{
			padding-right: 0;
		}
		.navmenu ul{
			justify-content: center;
			li{
				padding-left: 10px;
			}
		}
	}
}

@media (max-width: 991px){
}

@media (max-width: 980px){
	.extra-toggle{
		margin-top: 1.8rem;
	}
	.header{
		.logo{
			padding-top: 1.8rem;
			img{
				width: 105px;
			}
		}
		.btn-ask{
			margin-top: 1.4rem;
		}
	}
	.header__menu,
	.homeslider
	{
		display: none;
	}
}


@media (max-width: 767px){
}

@media (max-width: 545px){
}


@media (max-width: 460px){
	.main-grid{
		display: block;
	}
	.homepage .main{
		display: block;
	}
	.footer{
		text-align: center;
		.d-flex{
			flex-direction: column;
		}
		.lang{
			order: 0;
			padding-bottom: 2rem;
		}
		.copyright{
			order: 1;
		}
	}
}




@media (max-width: 340px){
	.extra-toggle{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.header__right{
		padding-right: 1.5rem;
	}
}