@media (max-width: 1800px){
	.header .navmenu ul li{
		margin-left: 28px;
		&:first-child{
			margin-left: 0;
		};
	}
}


@media (max-width: 1650px){
	.header__menu{
		padding-right: 50px;
	}

	.extra-toggle{
		margin-right: 5rem;
	}
}


@media (max-width: 1600px){
	// .navmenu-1 {
		// margin-left: 15%;
		// max-width: 100%;
		// flex-grow: 1;
	// }

	.ask-wrapper{
		// padding-right: 40px;
	}
}


@media (max-width: 1450px){

}


@media (max-width: 1360px){
	.header{
		.navmenu{
			font-size: 1.6rem;
			ul{
				li{
					margin-left: 2rem;
				}
			}
		}
		&__menu{
			padding-right: 3.5rem;
		}
		&__left{
			// max-width: max-content;
		}
	}


	.extra-toggle{
		margin-right: 3rem;
	}

	.navmenu-wrapper{
		// margin-left: 3%;
	}


	.lastnews h1{
		left: -145px;
	}

	.lastnew__item{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}


@media (max-width: 1270px){
	.header{
		&__right{
			padding-right: 3rem;
		}
	}
}


@media (max-width: 1250px){
	// .homepage{
		.footer{
			.container{
				max-width: 100%;
			}
		}
	// }
}


@media (max-width: 1249px){
}


@media (max-width: 1249px){
	.header{
		&__right{
			// padding-right: 3rem;
		}
	}
}

@media (max-width: 1199px){
	.header .navmenu{
		font-size: 1.4rem;
		ul li{
			margin-left: 1rem;
		}
	}


}

@media (max-width: 1024px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
}

@media (max-width: 545px){
}
